---
---

<div id="search-overlay" class="fade-in">
  <div class="app-wrapper p-6">
    <div class="flex items-center gap-4 mb-8">
      <input type="text" id="search-input" placeholder="Buscar festivo..." class="flex-1 ios-input text-lg">
      <button id="btn-close-search" class="text-red font-bold text-lg">Cerrar</button>
    </div>
    <div id="search-results" class="space-y-4 overflow-y-auto max-h-[75vh]"></div>
  </div>
</div>
