---
---

<div id="manual-instruction" class="animate-bounce">Toca el día de inicio en el calendario</div>

<nav class="today-nav">
  <button id="btn-clear-vac" class="clear-btn hidden active:scale-95 transition-transform">Limpiar</button>
  <button id="btn-today" class="today-btn active:scale-95 transition-transform">Hoy</button>
</nav>
